:root{
    --primary-title-color: #2E2F42;
    --secondary-text-color: #434455;
    --accent-color: #404BBF;
    --btn-color: #4D5AE5;
    --background-color: #2E2F42;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
}

ul {
    padding-left: 0;
}


body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    }


.list {
    padding: 0;
    margin: 0 ;
    list-style: none;
}

/* .container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
} */

/* MOBILE CONTAINER */
.container {
    padding-left: 15px;
    padding-right: 15px;
    
}

@media screen and (min-width: 428px) {
    .container {
        width: 398px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 766px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

/* Navigation */

.header {
    border-bottom: 1px solid #E7E9FC;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: #4D5AE5;
}

.logo-header {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: #2E2F42;
}
 
/* HEADER MOBILE */

@media screen and (max-width: 767px) {

    .main-nav {
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .header-list {
        display: none;
    }

    .header-contacts {
        display: none;
    }

}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
}

/* MOBILE MENU */

.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background: #FFFFFF;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opcity 500ms linear, visibility 500ms linear;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
}

.mobile-menu-container {
    position: fixed;
    padding-left: 25px; 
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}


.mobile-menu-close-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.mob-menu-close-svg {
    width: 8px;
    height: 8px;
}

.mobile-menu-list {
    margin-bottom: auto;
    margin-top: 80px;
}

.menu-list {
    margin-bottom: 40px;
}

.menu-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 40px;
}

.menu-item:hover,
.menu-item:focus {
    color: var(--accent-color);
}

.menu-contacts {
margin-bottom: 40px;
}

.mobile-menu-tel {
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    color: #4D5AE5;
    margin-bottom: 40px;
}

.mobile-menu-tel:focus,
.mobile-menu-tel:hover {
    color: var(--accent-color);
}


.mobile-menu-mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-menu-mail:focus,
.mobile-menu-mail:hover {
    color: var(--accent-color);
}

.mobile-social-list {
    display: flex;
    justify-content: center;
    gap: 56px;
    margin-top: 8px;
    margin-bottom: 40px;
}

/* TABLET NAVIGATION */

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .mobile-menu-btn {
        display: none;
    }

    .header-list {
        display: flex;
    }

    .logo {
        margin-right: 120px;
    }

    /* header contacts */

    .header-contacts {
        display: flex;
        flex-direction: column;
    }

    .header-mail {
        font-size: 12px;
        line-height: 1.3;        
        letter-spacing: 0.02em;        
    }

    .header-tel {
        font-size: 12px;
        line-height: 1.3;        
        letter-spacing: 0.02em;        
    }

    .contact-list {
        margin-bottom: 4px;
    }
}

/* DESKTOP */
@media  screen and (min-width: 1200px) {
    .header-list {
        display: flex;
        margin-left: 75px;
    }

    .mobile-menu-btn {
        display: none;
    }

    .header-contacts{
        display: flex;
        /* margin-left: auto; */
    }

    .contact-item {
        font-size: 16px;
        line-height: 1.5; 
        letter-spacing: 0.02em;
    }

    .header-contacts .item + .item {
        margin-left: 40px;
    }
    
}



.header-list .item + .item {
margin-left: 40px;
}

.header-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms;
}

.header-link:hover::after,
.header-link:focus::after,
.current .header-link::after {
  display: block;
  opacity: 1;
}


.link:hover,
.link:focus,
.current a {
    color: var(--accent-color);

}


.header-mail {
    font-weight: 400;
    /* font-size: 16px;
    line-height: 1.5; */
    /* letter-spacing: 0.02em; */
    color: #434455;
    padding: 24px 0;
}

.header-tel {
    font-weight: 400;
    /* font-size: 16px;
    line-height: 1.5; */
    /* letter-spacing: 0.02em; */
    color: #434455;
    padding: 24px 0;
}


/* Title */

.hero {
    background: var(--background-color);
    padding-top: 190px;
    padding-bottom: 190px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/hero/mobile-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/hero/mobile-hero@2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/hero/tablet-hero.jpg) ;
    }
}

@media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/hero/tablet-hero@2x.jpg);
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/hero/desktop-hero.jpg); ;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/hero/tablet-hero@2x.jpg);
    }
}

 @media screen and (max-width: 767px){
    .hero {
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .hero-title {
        font-size: 36px;
        line-height: 1.1;
        text-transform: capitalize;
        width: 320px
    }
 }

 @media screen and (min-width:768px) and (max-width: 1199px) {
    .hero {
        padding-top: 112px;
        padding-bottom: 108px;
    }
 }

.wrapper-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}    

.hero-title {
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
    .hero-title {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 72px;
        -webkit-text-stroke: 1px #000000;
    }
}

@media  screen and (min-width: 768px) {
    .hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 496px;
    }
}

.hero-button {
    background: var(--btn-color);
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.hero-button:hover,
.hero-button:focus {
    background: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.hero-btn-txt {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 16px 32px;
}

/* Our feauters */

.feauters {
    /* padding: 120px 0; */
}

@media screen and (max-width: 767px) {  
    .feauters {
        padding: 96px 0;
    }
}

@media screen and (max-width: 1199px) {  
    .feauters {
        padding: 96px 0;
    }
}

@media screen and (min-width: 1200px) {  
    .feauters {
        padding: 120px 0;
    }
}



@media screen and (max-width: 767px) {
    .feauters-list {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .feauters-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 72px 24px;
    }
}

@media screen and (min-width: 1200px) {
    .feauters-list {
        display: flex;
    }

    .feauters-list .feauter + .feauter {
        margin-left: 24px;
    }
}



@media screen and (max-width: 767px) {
    .feauter {
        width: 396px;
    }
}

@media screen and (max-width: 1199px) {
    .feauter {
        width: 356px;
    }
}

@media screen and (min-width: 1200px) {
    .feauter {
        width: 264px;
    }
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.feauter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 265px;
    height: 110px;
    background-color: #F4F4FD;
    margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
    .feauter-container {
        display: none;
    }
}

@media screen and (max-width: 1199px) {
    .feauter-container {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .feauter-container {
        
    }
}

.feauter-icon {
    width: 65px;
    height: 65px;
}

.feauter-item {
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
    padding-bottom: 8px;
}

@media screen and (max-width: 767px) {
    .feauter-item {
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
    }

    .feauter:not(:last-child) {
        margin-bottom: 72px;
    }
}

@media screen and (max-width: 1199px) {
    .feauter-item {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
    }
}

@media screen and (min-width: 1200px) {
    .feauter-item {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
}

.feauter-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

@media screen and (max-width: 767px) {
    .feauter-text {
        font-weight: 500;
    }
}

@media screen and (max-width: 1199px) {
    .feauter-text {
        font-weight: 500;
    }
}

@media screen and (min-width: 1200px) {
    .feauter-text {
        font-weight: 400;
    }
}


/* Our work in pictures */

@media screen and (max-width: 767px) {
    .works {
        display: none;
    }
}

@media screen and (max-width: 1199px) {
    .works {
        display: none;
    }
}

.works-wrap {
    margin-bottom: 120px;
}
.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
    text-align: center;
    margin-bottom: 70px;
}
.list-works {
    display: flex;
}

.list-works .image-work + .image-work {
    margin-left: 24px;
}

/* Our Team */

.team {
    background: #F4F4FD;
}

@media screen and (max-width: 767px) {
    .team {
        padding-top: 96px;
        padding-bottom: 128px;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .team {
        padding-top: 96px;
        padding-bottom: 104px;
    }
    
}

@media screen and (min-width: 1200px) {
    .team {
        padding: 120px 0;
    }
    
}

.item-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
    text-align: center;
    margin-bottom: 72px;
}

.our-team {
    display: flex;
}

@media screen and (max-width: 767px) {
    .our-team {
        display: flex;
        flex-direction: column;
    }  
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .our-team {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px 24px;
    }
    
}

@media screen and (min-width: 1200px) {
    .team-list:not(:last-child) {
        margin-right: 24px;
    }
    
}
.our-team .team-list + .team-list {
    /* margin-left: 24px; */
}




.team-list {
    background: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (max-width: 767px) {
    .team-list:not(:last-child) {
        margin-bottom: 72px;
    }
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
    text-align: center;
    padding-bottom: 10px;
}

.team-content {
    padding: 30px 0;
    text-align: center;
}
.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    text-align: center;
}
 
.team-social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.social-item {
    width: 40px;
    height: 40px;
    
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--btn-color);
    width: 100%;
    height: 100%;
    fill: white;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
    fill: #f9d14d;

}
.icon-link {
    width: 20px;
    height: 20px;
}

/* Customers */
 
.customers {
    /* padding: 125px 0; */
}

@media screen and (max-width: 767px) {
    .customers {
        padding: 96px 0;
    } 
}

@media screen and (max-width: 1199px) {
    .customers {
        padding: 96px 0;
    } 
}

@media screen and (min-width: 1200px) {
    .customers {
        padding: 120px 0;
    } 
}

.costomers-item {
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--primary-title-color);
    margin-bottom: 70px;
}

.costomers-logo {
    
}

@media screen and (max-width: 767px) {
    .costomers-logo {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 72px 16px;
        
    } 
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .costomers-logo {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 72px 24px;
    }
    
}

@media screen and (min-width: 1200px) {
    .costomers-logo {
        display: inline-flex;
    } 
}

@media screen and (min-width: 1200px) {
    .logo-list:not(:last-child) {
        margin-right: 24px;
    }
}

.costomers-logo .logo-list + .logo-list {
/* margin-left: 24px; */
}

.logo-list {
    border: 1px solid #8E8F99;
    border-radius: 4px;
    width: 170px;
    height: 90px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

@media screen and (max-width: 767px) {
    .logo-list {
        width: 190px;
        height: 88px;
        width: calc((100% - 16px) / 2);
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .logo-list {
        /* width: 168px;
        height: 88px;
        width: calc((100% - 24px) / 3); */
    }
}

.logo-list:hover,
.logo-list:focus {
    border-color: var(--accent-color);
}

.logo-link {
    display: inline-flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.logo-link:hover svg,
.logo-link:focus svg {
    fill: var(--accent-color);
    transition: fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}
.icon-logo {
    width: 105px;
    height: 55px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.icon-logo:hover,
.icon-logo:focus {
    fill: var();
}


/* Footer */

.footer {
    background: var(--background-color);
    /* padding: 100px 0; */
}

@media screen and (max-width: 767px) {
    .footer {
        padding: 96px 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer {
        padding: 96px 0;
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        padding: 100px 0;
    }
}

/* footer content */

@media screen and (max-width: 767px) {
    .footer-content {
        text-align: center;
        margin-bottom: 72px;
        display: block;
        margin: 0 auto;
        padding-bottom: 72px;
    }
    
}

@media screen and (min-width: 1200px) {
    .footer-content {
        margin-right: 120px;
        }
}


.logo-footer{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;    
    letter-spacing: 0.03em;    
    color: #F4F4FD;
}

.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;    
    letter-spacing: 0.02em;    
    color: #E7E9FC;
    width: 265px;
    margin-top: 15px;
}

.footer-list {
    display: flex;
    /* align-items: baseline; */
}

@media screen and (max-width: 767px) {
    .footer-list {
        flex-wrap: wrap;
        
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer-list {
        display: flex;
        flex-wrap: wrap;
        width: 584px;
        justify-content: flex-start;
        gap: 72px 24px;
    }
}

@media screen and (min-width: 1200px) {
    .footer-list {
        display: flex;
        align-items: baseline;
        /* width: 1158px; */
    }
}
.footer-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 15px;
}



@media screen and (max-width: 767px) {
    .footer-social {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 72px;
    }
}

@media screen and (min-width: 1200px) {
    .footer-social {
        margin-right: 80px;
     }
}

.footer-social-list {
    display: flex;
    gap: 15px;
}

.social-media {
    width: 40px;
    height: 40px;
}
.media-link {
    width: 100%;
    height: 100%;
    background-color: #8E8F99;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: white;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.media-link:hover,
.media-link:focus {
    background-color: #31D0AA;
}

.social-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
}

/* Footer form */

.footer-form {
    /* margin-left: 80px; */
}

@media screen and (max-width: 767px) {
    .footer-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
}

.form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
}

@media screen and (max-width: 767px) {
    .subscribe-form {
        flex-wrap: wrap;
        justify-content: center;
    }
}
.input-subs {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 265px;
    height: 40px;
    background: #2E2F42;
    margin-right: 24px;
    outline: none;
    color: white;
    padding: 8px 16px;
}

@media screen and (max-width: 767px) {
    .input-subs {
        width: 398px;
        margin: 0 auto;
    }
}

.input-subs:focus {
    border: 1px solid #4D5AE5;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-subs::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);

}

/* btn-container-subs */

@media screen and (max-width: 767px) {
    .btn-container-subs {
        margin-top: 16px;
    }
}
.btn-subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background: #4D5AE5;
    border-radius: 4px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 8px 24px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
}

.btn-subscribe:hover,
.btn-subscribe:focus {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.icon-subs {
    width: 24px;
    height: 24px;
    margin-left: 16px;
}

/* Portfolio */

@media screen and (max-width: 767px) {
    .portfolio {
        padding: 48px 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .portfolio {
        padding-top: 64px;
        padding-bottom: 96px;
    }
}

@media screen and (min-width: 1200px) {
        .portfolio {
            padding-top: 100px;
            padding-bottom: 120px;
        }
}

/* Buttons */
.buttons-list {
    /* margin-bottom: 70px; */
    display: flex;
    /* justify-content: center; */
}

@media screen and (max-width: 767px) {
    .buttons-list {
        margin-bottom: 48px;
        flex-wrap: wrap;
        row-gap: 16px;
        column-gap: 24px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .buttons-list {
        margin-bottom: 64px;        
        justify-content: center;
    }

    .item-btn:not(:last-child)  {
        margin-right: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .buttons-list {
        margin-bottom: 72px;
        justify-content: center;
    }

    .item-btn:not(:last-child)  {
        margin-right: 24px;
    }
}

.buttons-list .item-btn + .item-btn {
    /* margin-left: 24px; */
}

.button {
    background: #F4F4FD;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
}

.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15)
}
.button-text {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
   
}

/* Projects */

.project-list {
    display: flex;
    /* flex-wrap: wrap; */
    /* gap: 24px; */
}

@media screen and (max-width: 767px) {
    .project-list {
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .project-list {
        flex-wrap: wrap;
        gap: 72px 24px;
    }
}

@media screen and (min-width: 1200px) {
    .project-list {
        flex-wrap: wrap;
        gap: 48px 24px;
        justify-content: center;
    }
}

.project-link:hover .project-desc,
.project-link:focus .project-desc {
   transform: translateY(0); 
}

.list-desc:hover,
.list-desk:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
    .list-desc {
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .list-desc {
        width: 356px;
    }
}
  
.project-action {
    position: relative;
    overflow: hidden;

}

.project-desc {
    padding: 40px 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: rgba(77, 90, 229, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms;
    overflow: auto;
}

img {
    display: block;
    height: auto;
}

@media  screen and (max-width: 767px) {
    .img {
        width: 100%;
    }
}

@media screen and (max-width: 1199px) {
    .img {
        width: 100%;
    }
}

.pr-wrap {
    border: 1px solid #E7E9FC;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: none;
    padding-left: 15px;
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
   
}

.project-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
    margin-bottom: 10px;
}

.project-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

/* Modal */

.backdrop {
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0);
      transition: visibility 250ms;
}

.modal {
    width: 408px;
    height: 585px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0 25px;
}

@media screen and (max-width: 767px) {
    .modal {
        width: 392px;
    }
}


.btn-close {
    position: absolute;
    top: 24px;
    right: 24px;    margin-left: auto;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
  justify-content: center;
  align-items: center;
}

.btn-close:hover,
.btn-close:focus {
    background-color: var(--accent-color);
    fill: #FFFFFF;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
    width: 8px;
    height: 8px;
}

/* Form */

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;    
    color: #2E2F42;
    margin-top: 70px;
    margin-bottom: 15px;
}

.line-name {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 5px;
}

.form-icon {
    width: 18px;
    height: 24px;
    position: absolute;
    top: 8px;
    left: 16px;
}

.input-wrap {
    position:  relative;
}
.form-input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding: 10px 15px;
    margin-bottom: 10px ;
    padding-left: 45px
}

.form-input::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.form-input:focus-within+.form-icon {
fill: #4D5AE5;
} 

.comment {
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding: 16px 11px;
}

.comment:focus {
border: 1px solid #4D5AE5;
}
.comment::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-family: inherit;
    line-height: 1.15;
    margin: 0;
}
.accept-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #757575;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 8px;
}

.accept-link {
    color: #4D5AE5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.accept-wrop {
    display: flex;
    margin-bottom: 24px;
}

.checkbox {
    margin-right: 8px;
}

.form-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    width: 169px;
    height: 56px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.form-input:focus {
    border: 1px solid #4D5AE5;
    outline: none;
}

.form-btn:hover,
.form-btn:focus {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.modal-form-checkbox::before {
    content:'';
    display: block;
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    cursor: pointer;
}

.checkbox:checked + .modal-form-checkbox::before {
    background: #404BBF;
    background-image: url(../img/vector.svg);
    background-repeat: no-repeat;
    border: 1.25px solid #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    background-position: 50% 100%;
}


.checkbox:focus + .modal-form-checkbox::before {
    border: 1.25px solid #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
} 

.modal-form-checkbox {
    display: flex;
    align-items: center;
    margin-top: 10px;
}